  <div class="row">
    <div class="col-sm-3 offset-2 mt-2 mb-2">
      <h4><%= @user.name %> @<%= @user.alias_name %><h4>
      <% if @user.image? %>
        <img src='<%=  @user.image %>' class="icon" alt="ユーザーアイコン">
      <% else %>
        <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
      <% end %>
      <div class="mt-2">
        <%= render 'relationships/follow_button', user: @user %>
      </div>
    </div>
      
    <div class="col-sm-5">
      <div>
        <p><%= @user.self_introduction %></p>
      </div>
      <div class="">
        <%= render 'users/edit_profile_button', user: @user  %>
      </div>
    </div>
  </div>